{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="content-body">
  <div class="container-fluid">
    <div class="page-titles">
      <h4>Employee</h4>
      
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">New Employee</h4>
          </div>
          <div class="card-body">
            <div class="form-validation">
              <form class="form-validate" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="entryno">Entry No<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="number" class="form-control" id="entryno" name="entryno">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="user">Username<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="user" name="user">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="pass">Password<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="password" class="form-control" id="pass" name="pass">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="pass2">Password Confirmation<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="password" class="form-control" id="pass2" name="pass2">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="Department">Department<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <select name="Department" id="Department" class="form-control" required>
                          {% for Department in DepartmentList %}
                          <option value="{{ Department.id }}">{{ Department }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="DOJ">Joining Date<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="date" class="form-control" id="DOJ" name="DOJ">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="fname">First Name<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="fname" name="fname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="mname">Middle Name<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="mname" name="mname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="lname">Last Name<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="lname" name="lname">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="Gender">Gender<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <select name="Gender" id="Gender" class="form-control">
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="DOB">Date of Birth<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="date" class="form-control" id="DOB" name="DOB">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="Blood_Group">Blood Group<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <select name="Blood_Group" id="Blood_Group" class="form-control">
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="Religion">Religion<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="Religion" name="religion">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="Nationality">Nationality<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="Nationality" name="Nationality">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="address">Address<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="address" name="address">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="pincode">Pincode<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="number" class="form-control" id="pincode" name="pincode">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="mob">Mobile No<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="number" class="form-control" id="mob" name="mob">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="altmob">Alt Mobile No<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="number" class="form-control" id="altmob" name="altmob">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="edu">Education<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="edu" name="Education">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="exp">Experience<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="exp" name="Experience">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="email">Email<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <input type="email" class="form-control" id="email" name="email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-lg-4 col-form-label" for="ismarried">Marital Status<span class="text-danger">*</span></label>
                      <div class="col-lg-6">
                        <select name="ismarried" id="ismarried" class="form-control">
                          <option value="Married">Married</option>
                          <option value="Unmarried">Unmarried</option>
                          <option value="Divorced">Divorced</option>
                        </select>
                      </div>
                    </div>
                    <!-- Inside your HTML form -->
<div class="form-group row">
  <label class="col-lg-4 col-form-label" for="profession">Profession<span class="text-danger">*</span></label>
  <div class="col-lg-6">
      <select name="profession" id="profession" class="form-control">
          {% for profession_choice in Profession_types %}
          <option value="{{ profession_choice.0 }}">{{ profession_choice.1 }}</option>
          {% endfor %}
      </select>
  </div>
</div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
