{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Appointments</title>
{% endblock %}s


{% block content %}
<div class="content-body">
  <div class="container-fluid">
      <div class="page-titles">
<h4>Appointment</h4>

      </div>
      <!-- row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">New Appointment</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-validation">
                          <form method="get">
                            <label class="col-lg-4 col-form-label" for="id">Enter Patient ID:</label>
                            <input class="form-control" name="id" type="text">
                            <input class="btn btn-primary" type="submit" value="Fetch">
                        </form>
                        
                        <form method="post" class="form-valide">
                            {% csrf_token %}
                            <label class="col-lg-4 col-form-label" for="name">Patient Name</label>
                            <input type="text" class="form-control" name="name" value="{% if patient %}{{patient.Name}}{% endif %}">
                            <br>
                        
                            <input type="text" value="{% if patient %}{{patient.id}}{% endif %}" name="patientid" hidden required>
                            
                            <label class="col-lg-4 col-form-label" for="date">Date and Time:</label>
                            <input type="datetime-local" class="form-control" name="date" value="">
                            <br>
                        
                            <label class="col-lg-4 col-form-label" for="doctor">Doctor:</label>
                            <select class="form-control default-select" name="doctor">
                                {% for doctor in doctors %}
                                <option value="{{doctor.id}}">{{doctor.First_Name}} {{doctor.Middle_Name}}{{doctor.Last_Name}}</option>
                                {% endfor %}
                            </select>
                            <br>
                            
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
{% endblock %}