{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Register</title>
{% endblock %}s


{% block content %}
<div class="content-body">
  <div class="container-fluid">
      <div class="page-titles">
<h4>Validation</h4>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="javascript:void(0)">Form</a></li>
  <li class="breadcrumb-item active"><a href="javascript:void(0)">Validation</a></li>
</ol>
      </div>
      <!-- row -->
      <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Form Validation</h4>
                  </div>
                  <div class="card-body">
                      <div class="form-validation">
                          <form class="form-valide" action="" method="post">
                            {% csrf_token %}
                              <div class="row">
                                  <div class="col-xl-6">
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label"  for="name">Name
                                              <span class="text-danger">*</span>
                                          </label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="val-username"  name="name" placeholder="Enter Patient Name..">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="dob">Date of Birth <span
                                                  class="text-danger">*</span>
                                          </label>
                                          <div class="col-lg-6">
                                              <input type="date" class="form-control" id="val-email" name="dob" >
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="gender">Gender
                                          <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-6">
                                          <select class="form-control default-select" id="val-skill" name="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                          </select>
                                      </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="ismarried">Marital Status
                                          <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-6">
                                          <select class="form-control default-select" id="val-skill" name="ismarried">
                                            <option>Married</option>
                                            <option>Unmarried</option>
                                            <option>Divorced</option>
                                          </select>
                                      </div>
                                      </div>
                                      <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="profession">Profession
                                          <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-6">
                                          <select class="form-control default-select" id="val-skill" name="profession">
                                            <option></option>
                                            <option>Private</option>
                                            <option>Social Service</option>
                                            <option>Professional</option>
                                            <option>Student</option>
                                            <option>Unemployed</option>
                                            <option>Other</option>
                                          </select>
                                      </div>
                                    </div>
                                      <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="mobileno">Mobile No
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-phoneus" name="mobileno" value="+91" placeholder="212-999-0000">
                                        </div>
                                    </div>
                                  
                                  </div>
                                  <div class="col-xl-6">
                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label" for="alternateNo">Alternate No
                                          <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control" id="val-phoneus" name="alternateNo" value="+91" placeholder="212-999-0000">
                                      </div>
                                    </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="email">Email
                                              <span class="text-danger">*</span>
                                          </label>
                                          <div class="col-lg-6">
                                              <input type="email" class="form-control" id="val-currency" name="email" >
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-lg-4 col-form-label" for="age">Age
                                              <span class="text-danger">*</span>
                                          </label>
                                          <div class="col-lg-6">
                                              <input type="text" class="form-control" id="val-website" name="age" >
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="address">Address
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="val-website" name="address" >
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                      <label class="col-lg-4 col-form-label" for="guardian">Guardian
                                          <span class="text-danger">*</span>
                                      </label>
                                      <div class="col-lg-6">
                                          <input type="text" class="form-control" id="val-website" name="guardian" >
                                      </div>
                                  </div>
                                      
                                      
                                      <div class="form-group row">
                                          <div class="col-lg-8 ml-auto">
                                              <button type="submit" class="btn btn-primary">Submit</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
{% endblock %}